@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
        }

        .display-4 {
            color: darkviolet;
        }

        .lead {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .lead:last-child {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h1 class="display-4">Bienvenido a Book Bites!</h1>
                    <br>
                    <p class="lead">BookBites es una biblioteca moderna y sofisticada, fundada en 2022 en Cuenca, Ecuador. Desde sus inicios, ha destacado por sus instalaciones vanguardistas y su enfoque en la tecnología y la innovación. Con un diseño arquitectónico contemporáneo y espacios amplios y luminosos, BookBites ofrece a sus usuarios una experiencia única de lectura y aprendizaje.</p>
                    <p class="lead">La biblioteca cuenta con una extensa colección de libros físicos y digitales, así como revistas, periódicos y material multimedia. Además, dispone de salas de estudio equipadas con la última tecnología, áreas de descanso, cafeterías y auditorios para eventos culturales y académicos.</p>
                    <p class="lead">BookBites no solo es un lugar para leer, sino también un centro de actividades educativas y culturales, ofreciendo talleres, conferencias y exposiciones que enriquecen a la comunidad. Su misión es promover el conocimiento y la cultura a través de un entorno moderno y accesible para todos.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
