@model PriscilaZunigaWebBookBites.Models.PZCopia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PZCopia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PZCopiaID" />
            <div class="form-group">
                <label asp-for="PZCantidad" class="control-label"></label>
                <input asp-for="PZCantidad" class="form-control" />
                <span asp-validation-for="PZCantidad" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PZColor" /> @Html.DisplayNameFor(model => model.PZColor)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PZFormato" class="control-label"></label>
                <input asp-for="PZFormato" class="form-control" />
                <span asp-validation-for="PZFormato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PZFechaCopia" class="control-label"></label>
                <input asp-for="PZFechaCopia" class="form-control" />
                <span asp-validation-for="PZFechaCopia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PZLibroID" class="control-label"></label>
                <select asp-for="PZLibroID" class="form-control" asp-items="ViewBag.PZLibroID"></select>
                <span asp-validation-for="PZLibroID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
